[Unit]
Description=__APP__ uWSGI app
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi \
        --ini /etc/uwsgi/apps-available/__APP__.ini \
        --socket /var/run/uwsgi/__APP__.socket \
        --chmod-socket=775 \
        --logto /var/log/__APP__/service.log
User=__APP__
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
